@font-face{
font-family: keepcalm;
src: url('../fonts/KeepCalm-Medium.otf');
}
body{
	width: 100%;
	min-width: 1024px !important;
	min-height: 500px !important;
	height: 100%;
	overflow: hidden;
	margin:0px;
	padding:0px;
	background-color: #cccccd;
	position:relative;
	color:#000000;
	font-family:'keepcalm',cambria;
}
*{
	margin: 0px;
	padding: 0px;
}
#background{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
}
#main-circle{
	width:450px;
	height:450px;
	border-radius: 225px;
	background-color: #e1e1f3;
	position:absolute;
	top:50%;
	margin-top: -225px;
	left:50%;
	margin-left:-225px;
	overflow: hidden;
}
#divider{
	width:550px;
	height:20px;
	background-image: url('../images/divider.png');
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -10px;
	margin-left: -275px;
	z-index:1;
}
#central-circle{
	width:222px;
	height:222px;
	border-radius: 131px;
	background-color: #383838;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -131px;
	margin-left: -131px;
	border:20px solid e1e1f3;
	z-index: 9;
}
#top-circle-bar{
	width: 100%;
	height: 50%;
	background-color: #de5738;
	position:relative;
	/* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 50% 0%, 50% 50%, from(#dc483b), to(#e27b2f));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

}

#bottom-circle-bar{
	width: 100%;
	height: 50%;
	background-color: #19798b;
	/* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 50% 60%, 50% 100%, from(#046678), to(#3796a6));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

}
/*----------------------------------------------------------Layout Ends here -----------------------------------*/
/*----------------------------------------------------------Exhibitions ----------------------------------------*/
#exhibitions{
	width:50%;
	height:100%;
	float:left;
	background-color: #177b3f;
	-webkit-transform-origin:100% 100%;
	-webkit-transform: skew(30deg,0deg);

   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 100% 20%, 100% 100%, from(#3a9c61), to(#095829));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);
}

/*------------------------------------------------Workshops --------------------------------------------------*/
#workshops{
	width:50%;
	height:100%;
	float:left;
	background-color: #a50f28;
	-webkit-transform-origin:0% 100%;
	-webkit-transform: skew(-30deg, 0deg);
	/* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#a20b2e), to(#b31d12));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

}

/* ------------------------------------------ Highlights --------------------------------------------------*/
#highlights{
	width:50%;
	height:100%;
	float:left;
	background-color: #121c44;
	-webkit-transform-origin:100% 0%;
	-webkit-transform: skew(-30deg,0deg);
	position: relative;
	/* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 100% 20%, 100% 100%, from(#020229), to(#263a66));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7); 
}
.highlight-image{
	width: 50px;
	height: 50px;
	background-image: url('../images/highlights.png');
	background-repeat: no-repeat;
	-webkit-transform-origin:100% 0%;
	-webkit-transform: skew(30deg,0deg);
	position:absolute;
	top:19%;
	left:29%;
	background-size: 100% 100%;
}
.highlight-text{
	width:80px;
	height:48px;
	position:absolute;
	-webkit-transform-origin:100% 0%;
	-webkit-transform: skew(30deg,0deg);
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
	top:37%;
	left:40%;
}
/*-------------------------------------------------Lectures -------------------------------------------------------*/
#lectures{
	width:50%;
	height:100%;
	float:left;
	position:relative;
	background-color: #704079;
	-webkit-transform-origin:0% 0%;
	-webkit-transform: skew(30deg,0deg);
	/* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#4a274f), to(#784583));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

}
#lectures-image{
	width: 50px;
	height: 50px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform: skew(-30deg,0deg);
	position: absolute;
	background-image: url('../images/lectures.png');
	top:23%;
	right:36%;
	background-size: 100% 100%;
}
#lectures-text{
	width:80px;
	height:48px;
	position:absolute;
	-webkit-transform-origin:0% 0%;
	-webkit-transform: skew(-30deg,0deg);
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
	top:39%;
	left:17%;
}

/*------------------------------------------------------Competitions -------------------------------------------*/
#top-middle{
	width:50%;
	height:100%;
	float:left;
	margin-left: -50%;
	position: relative;
	-webkit-transform-origin:100% 100%;
	-moz-transform: rotate(60deg) skewX(30deg) skewY(30deg);
	-webkit-transform: rotate(30deg) skewX(0deg) skewY(29deg);
    -o-transform: rotate(60deg) skewX(30deg) skewY(30deg);
    -ms-transform: rotate(60deg) skewX(30deg) skewY(30deg);
    transform:  rotate(60deg) skewX(30deg) skewY(30deg);
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dc483b), to(#e27b2f));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);
}
#competitions-image{
	width: 50px;
	height: 33px;
	position:absolute;
	top:42%;
	left:70%;
	margin-left: -35px;
	-webkit-transform-origin:100% 100%;
	-moz-transform: rotate(60deg) skewX(30deg) skewY(30deg);
	-webkit-transform: rotate(-34deg) skewX(7deg) skewY(-14deg);
    -o-transform: rotate(60deg) skewX(30deg) skewY(30deg);
    -ms-transform: rotate(60deg) skewX(30deg) skewY(30deg);
    transform:  rotate(60deg) skewX(30deg) skewY(30deg);
	background-image: url('../images/competitions.png');
	z-index: 5;
	background-size: 100% 100%;
}
#competitions-text{
	width:80px;
	height:48px;
	position:absolute;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
	top:0%;
	left:46%;
	margin-left: -40px;
	z-index:3;
}
/*-------------------------------------------------------------Nites------------------------------------------------*/
#bottom-middle{
	width:50%;
	height:100%;
	float:left;
	margin-left: -50%;
	position: relative;
	-webkit-transform-origin:100% 0%;
	-moz-transform: rotate(60deg) skewX(30deg) skewY(30deg);
	-webkit-transform: rotate(-30deg) skewX(0deg) skewY(-29deg);
    -o-transform: rotate(60deg) skewX(30deg) skewY(30deg);
    -ms-transform: rotate(60deg) skewX(30deg) skewY(30deg);
    transform:  rotate(60deg) skewX(30deg) skewY(30deg);
	background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#046678), to(#3796a6));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top-right,#3a9c61, #0d7236); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

}
/*--------------------------------------------------------Update Box -------------------------------------*/
#update-box{
	width:250px;
	height:80px;
	position:absolute;
	bottom:20px;
	left:20px;
	background-color: #979797;
}
.arrows{
	width:30px;
	height:100%;
	float:left;
}
#update-content{
	width:190px;
	height:100%;
	float:left;

}









